Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [1]:
## Database is the collection of organized data that is structured or unstructured. The database's primary goal is to store a huge amount of data

In [2]:
## SQL referes to Structure Query Language, while NoSQL i not only SQL

In [3]:
## SQL is the programming language used to interface with relational databases. 
## (Relational databases model data as records in rows and tables with logical links between them). 
## NoSQL is a class of DBMS that are non-relational and generally do not use SQL

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [4]:
## DDL(Data Definition Language): To make/perform changes to the physical structure of any table residing inside a database, DDL is used. 
## These commands when executed are auto-commit in nature and all the changes in the table are reflected and saved immediately.

In [5]:
## Create :this command is used to create a database/table. Below command will create databse student_db
# create database if not exists student_db;
# create table student_table (Roll_no int,Student_Name varchar(50),Contact int);

In [6]:
## Drop:Drop is used to drop database/table . All the structure is also deleted in drop statement.
# Drop table student_table;
# Drop database sudent_db;

In [7]:
## Alter:Alter command is used to alter/modify the table
# Alter table student_table add column Marks int;

In [8]:
## Truncate : This command is similar to the drop table command. The only difference is that while the drop command removes the table as well as its contents,
## the truncate command only erases the contents of the table's contents and not the table itself, structure of the table is maintained

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [9]:
## DML(Data Manipulation Language): Once the tables are created and the database is generated using DDL commands, 
## manipulation inside those tables and databases is done using DML commands.

In [10]:
## Insert : This statement is used to insert data into table 
# Insert into student_table values(1,"Yuvraj Nishad",9000090001);

In [11]:
## Update: update command is used to update or make changes in table 
# update student_table set Roll_no=2 where Student_Name='Yuvraj Nishad';

In [12]:
## Delete: This is used to delete record/row from the table
# Delete from student_table where Roll_no=2;

Q4. What is DQL? Explain SELECT with an example.

In [13]:
## DQL(Data Query Language): Data query language consists of only one command upon which data selection in SQL relies.
## The SELECT command in combination with other SQL clauses is used to retrieve and fetch data from databases/tables based on certain conditions applied by the user.

In [14]:
## Select * from student_table; This will retrieve all records from the student_table

Q5. Explain Primary Key and Foreign Key.

In [15]:
## Primary Key:A primary key is used to ensure that data in the specific column is unique and not null.

In [16]:
## Foreign Key:A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables.

In [17]:
## The table with the foreign key is called the child table, and the table with the primary key is called the referenced or parent table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [18]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor=mydb.cursor()
mycursor.execute("show databases")
for i in mycursor:
    print(i)
mydb.close()

ModuleNotFoundError: No module named 'mysql'

In [19]:
## A cursor is an object which helps to execute the query and fetch the records from the database

In [20]:
## The execute () method helps us to execute the query and return records according to the query.

Q7. Give the order of execution of SQL clauses in an SQL query.

In [21]:
## The SQL order of execution defines the order in which the clauses of a query are evaluated

In [22]:
# 1.from
# 2.where
# 3.group by
# 4.having
# 5.select
# 6.order by
# 7.limit