#### Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

In [1]:
## MongoDB is a NoSql Database which is used to store non relational data.

In [2]:
## NoSQL (Not only SQL) is used as an alternative to traditional relational databases. NoSQL databases are quite useful for working with large sets of distributed data.

In [3]:
## NoSQL database, the MongoDB architecture is made up of collections and documents.Documents are in the form of {key: value} pair.

In [4]:
## A non-relational database is a database that does not use the tabular schema of rows and columns found in most traditional database systems.

In [5]:
## Instead, non-relational databases use a storage model that is optimized for the specific requirements of the type of data being stored

In [6]:
## When we are not concerned about storing data in tabular format we can use MongoDB.

## Storing large volumes of data without structure

## Using cloud computing and storage. Cloud-based storage is a great solution, but it requires data to be easily spread across multiple servers for scaling.
## Using affordable hardware on-site for testing and then for production in the cloud is what NoSQL databases are designed for.

## Rapid development. If you are developing using modern agile methodologies, a relational database will slow you down. 
## A NoSQL database doesnâ€™t require the level of preparation typically needed for relational databases.

#### Q2. State and Explain the features of MongoDB.

In [7]:
## MongoDB Features

In [8]:
## Used to store large amount of unstructured data.

In [9]:
## MongoDB architecture is made up of collections and documents.Documents are in the form of {key: value} pair and supports json format

In [10]:
## Availabilit of data is fast,automatic and instant data recovery

In [11]:
## If you have unstable schema and you want to reduce schema migration cost

In [12]:
## If most of services are cloud based then mongodb is best option

#### Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [13]:
#pip install pymongo

In [14]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://abhinishad:abhinishad@mycluster.297r1oi.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [15]:
bank_db=client['Bank_DB'] ## Databse creation

In [16]:
acc_data=bank_db['account_details2'] ## Collection Creation

#### Q4. Using the database and the collection created in question number 3, write a code to insert one record,
#### and insert many records. Use the find() and find_one() methods to print the inserted record.

In [17]:
acc1={"Cust_id":11,"Name":"Abhishek Nishad","Balance":5000000}

In [18]:
acc_data.insert_one(acc1)

In [19]:
acc2=[{"Cust_id":12,"Name":"Aniket Chavan","Balance":350000},
      {"Cust_id":13,"Name":"Rahul Sahu","Balance":550000},
      {"Cust_id":16,"Name":"Venkat Ram","Balance":2000000}]

In [20]:
acc_data.insert_many(acc2)

In [21]:
for i in acc_data.find():
    print(i)

{'_id': ObjectId('6433d9537354d8c223c86874'), 'Cust_id': 11, 'Name': 'Abhishek Nishad', 'Balance': 5000000}
{'_id': ObjectId('6433d9537354d8c223c86875'), 'Cust_id': 12, 'Name': 'Aniket Chavan', 'Balance': 350000}
{'_id': ObjectId('6433d9537354d8c223c86876'), 'Cust_id': 13, 'Name': 'Rahul Sahu', 'Balance': 550000}
{'_id': ObjectId('6433d9537354d8c223c86877'), 'Cust_id': 16, 'Name': 'Venkat Ram', 'Balance': 2000000}

In [22]:
acc_data.find_one()

{'_id': ObjectId('6433d9537354d8c223c86874'),
 'Cust_id': 11,
 'Name': 'Abhishek Nishad',
 'Balance': 5000000}

#### Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

In [23]:
## Lets suppose,we want to find the record where name is Rahul Sahu

In [24]:
for i in acc_data.find({"Name":"Rahul Sahu"}):
    print(i)

{'_id': ObjectId('6433d9537354d8c223c86876'), 'Cust_id': 13, 'Name': 'Rahul Sahu', 'Balance': 550000}

In [25]:
## Fetch records where Balance is greater than 1000000

In [26]:
for i in acc_data.find({"Balance":{"$gt":1000000}}):
    print(i)

{'_id': ObjectId('6433d9537354d8c223c86874'), 'Cust_id': 11, 'Name': 'Abhishek Nishad', 'Balance': 5000000}
{'_id': ObjectId('6433d9537354d8c223c86877'), 'Cust_id': 16, 'Name': 'Venkat Ram', 'Balance': 2000000}

#### Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

In [27]:
## sort method is used to sort either in ascending or descending order 
## The sort() method takes one parameter for "fieldname" and one parameter for "direction" (ascending(1) is the default direction).

In [28]:
## below code will sort the records with highest Balance first
for i in acc_data.find().sort("Balance",-1):
    print(i)

{'_id': ObjectId('6433d9537354d8c223c86874'), 'Cust_id': 11, 'Name': 'Abhishek Nishad', 'Balance': 5000000}
{'_id': ObjectId('6433d9537354d8c223c86877'), 'Cust_id': 16, 'Name': 'Venkat Ram', 'Balance': 2000000}
{'_id': ObjectId('6433d9537354d8c223c86876'), 'Cust_id': 13, 'Name': 'Rahul Sahu', 'Balance': 550000}
{'_id': ObjectId('6433d9537354d8c223c86875'), 'Cust_id': 12, 'Name': 'Aniket Chavan', 'Balance': 350000}

#### Q7. Explain why delete_one(), delete_many(), and drop() is used.

In [29]:
## To delete one document, we use the delete_one() method.

In [30]:
d1={"Cust_id":19,"Name":"Sashi Ram","Balance":3000000}

In [31]:
acc_data.insert_one(d1)

In [32]:
for i in acc_data.find():
    print(i)

{'_id': ObjectId('6433d9537354d8c223c86874'), 'Cust_id': 11, 'Name': 'Abhishek Nishad', 'Balance': 5000000}
{'_id': ObjectId('6433d9537354d8c223c86875'), 'Cust_id': 12, 'Name': 'Aniket Chavan', 'Balance': 350000}
{'_id': ObjectId('6433d9537354d8c223c86876'), 'Cust_id': 13, 'Name': 'Rahul Sahu', 'Balance': 550000}
{'_id': ObjectId('6433d9537354d8c223c86877'), 'Cust_id': 16, 'Name': 'Venkat Ram', 'Balance': 2000000}
{'_id': ObjectId('6433d9537354d8c223c86878'), 'Cust_id': 19, 'Name': 'Sashi Ram', 'Balance': 3000000}

In [33]:
acc_data.delete_one({"Name":"Sashi Ram"})

In [34]:
for i in acc_data.find():
    print(i)

{'_id': ObjectId('6433d9537354d8c223c86874'), 'Cust_id': 11, 'Name': 'Abhishek Nishad', 'Balance': 5000000}
{'_id': ObjectId('6433d9537354d8c223c86875'), 'Cust_id': 12, 'Name': 'Aniket Chavan', 'Balance': 350000}
{'_id': ObjectId('6433d9537354d8c223c86876'), 'Cust_id': 13, 'Name': 'Rahul Sahu', 'Balance': 550000}
{'_id': ObjectId('6433d9537354d8c223c86877'), 'Cust_id': 16, 'Name': 'Venkat Ram', 'Balance': 2000000}

In [35]:
## To delete more than one document, use the delete_many() method. Below Code deleted records with balance less than 1000000

In [36]:
acc_data.delete_many({"Balance":{"$lt":1000000}})

In [37]:
for i in acc_data.find():
    print(i)

{'_id': ObjectId('6433d9537354d8c223c86874'), 'Cust_id': 11, 'Name': 'Abhishek Nishad', 'Balance': 5000000}
{'_id': ObjectId('6433d9537354d8c223c86877'), 'Cust_id': 16, 'Name': 'Venkat Ram', 'Balance': 2000000}

In [38]:
## You can delete a table, or collection as it is called in MongoDB, by using the drop() method

In [39]:
acc_data.drop()

In [40]:
for i in acc_data.find():
    print(i)

In [41]:
## AS acc_data is deleted we are not able to see any records now