### 1.Accept percentage from user and display grades

In [10]:
marks=int(input("Enter marks between 0 to 100 : "))
if marks>90:
    print("Grade for {} marks is A".format(marks))
elif (marks>80 and marks<=90):
    print("Grade for {} marks is B".format(marks))
elif (marks>=60 and marks<=80):
    print("Grade for {} marks is C".format(marks))
elif marks<60:
    print("Grade for {} marks is D".format(marks))
else:
    print("Please enter valid marks")

Enter marks between 0 to 100 :  76

Grade for 76 marks is C

### 2.Accept the cost price of a bike and road tax to be paid

In [4]:
price=float(input("Enter the value of a bike: "))
if price>100000:
    print("Road tax to be paid is ",price*.15)
elif (price<=100000 and price>50000):
    print("Road tax to be paid is ",price*.10)
else:
    print("Road tax to be paid is ",price*.05)

Enter the value of a bike:  10000

Road tax to be paid is  500.0

### 3.Accept any city and display monuments of that city

In [16]:
city=input("Enter the city to display monuments: ")
city=city.upper()
if city=="DELHI":
    print(f"Monument in {city} is Red Fort")
elif city=="AGRA":
    print(f"Monument in {city} is Taj Mahal")
elif city=="JAIPUR":
    print(f"Monument in {city} is Jal Mahal")
else:
    print("Enter valid city")

Enter the city to display monuments:  Agra

Monument in AGRA is Taj Mahal

### 4.Check how many times a given number can be divided by 3 before it is less than or equal to 10

In [18]:
def count_division(num):
    cnt=0
    while(num>=10):
        num/=3
        cnt=cnt+1
    print(cnt)

In [22]:
count_division(111)

3

### 5.Why and when to use while loop in Python

##### while loop is used to print a block of code/statments repeatedly until the condition is true, It helps
##### to avoid writing big lines of code . Is used for particular sequence

In [23]:
# while loop to print even number from 1 to 100,when I becomes greater than 100 the condtion is false and will come out of loop

In [24]:
i=2
while (i<=100):
    print(i,end=" ")
    i+=2

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

### 6. Use nested while loop to print 3 different patterns

In [27]:
for i in range(1,10):
    for j in range(i):
        print("*",end=' ')
    print('\r')

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

In [30]:
for i in range(10,0,-1):
    for j in range(i):
        print("*",end=" ")
    print('\r')

* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [37]:
k=9
for i in range(1,10):
    for j in range(0,k):
        print(end=" ")
    k=k-1
    for j in range(0,i):
        print("*",end=" ")
    
    print('\r')

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *

### 7. Reverse a while loop to display number for 10 to 1

In [2]:
i=10
while(i>=1):
    print(i)
    i=i-1

10
9
8
7
6
5
4
3
2
1

### 8.Reverse a while loop to display number from 10 to 1

In [17]:
def reverse_number(num):
    while(num>0):
        print(num)
        num-=1

In [18]:
reverse_number(10)

10
9
8
7
6
5
4
3
2
1