#### Q1. Create a python program to sort the given list of tuples based on integer value using a lambda function. 


[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [40]:
l1=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [41]:
print("Original List")
print(l1)
print("\nAfter sorting using lambda ")
l1.sort(key=lambda x:x[1])
print(l1)

Original List
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

After sortin using lambda
[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

#### Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.


[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [42]:
list1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [43]:
list(map(lambda x:x**2,list1))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
#### lambda functions


Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [44]:
str_list=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [45]:
tuple(map(lambda x:str(x),str_list))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

#### Q4.  Write a python program using reduce function to compute the product of a list containing 
#### numbers from 1 to 25.

In [62]:
list_25=[i for i in range(1,26)]

In [63]:
print(list_25)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

In [64]:
from functools import reduce

In [65]:
reduce(lambda x,y:x*y,list_25)

15511210043330985984000000

#### Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
#### filter function.


[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [66]:
div_list=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [67]:
list(filter(lambda x:x%2==0 or x%3==0,div_list))

[2, 3, 6, 9, 27, 60, 90, 120, 46]

#### Q6. Write a python program to find palindromes in the given list of strings using lambda and filter function.


['python', 'php', 'aba', 'radar', 'level']

In [94]:
Palindrom_list=['python', 'php', 'aba', 'radar', 'level']

In [95]:
list(filter(lambda x:x==x[::-1],Palindrom_list))

['php', 'aba', 'radar', 'level']

In [96]:
s1='radar'

In [97]:
s1==s1[::-1]

True

In [ ]:
s1[