### 1. what are the characterisitics of Tuples, is tuple mutable

 ######    Tuples are collection/data structure written within  '()' and seperated by comma.Eg -(2,"tuple",[1,4,6])

######  Tuples can store multiple datatypes and can be accessed using indexing/slicing.

######    Tuple is not mutable

#### 2.  What are the two tuple methods in python? Give an example of each method. Give a reason why
#### tuples have only two in-built methods as compared to Lists.

###### Two tuple methoda are count() and index().Since tuples are immutable cannot be changed using indexing so only tow methods

In [8]:
t1=(1,2,4,3,3)

In [9]:
t1.count(3) ## Will give count of 3 in t1

2

In [10]:
t1.index(3) ## Will give the index location of first 3 in 1

3

#### 3. Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove
#### duplicates from the given list.

###### Sets is the datatypes that do not allow duplicate items. They are collection of unique element

In [19]:
l1 = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

In [23]:
print(l1)

[1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

In [21]:
s1=set(l1)

In [22]:
s1

{1, 2, 3, 4}

#### 4.  Explain the difference between the union() and update() methods for a set. Give an example of
#### each method.

##### union() is used to combine 2 sets with all elements containing from both sets,
##### update() is used to update or add values in one set from another

In [29]:
set1={4,6,9,7}
set2={11,32,45,67,6}

In [30]:
set1

{4, 6, 7, 9}

In [31]:
set1.union(set2)

{4, 6, 7, 9, 11, 32, 45, 67}

In [32]:
set1.update(set2)

In [33]:
set1

{4, 6, 7, 9, 11, 32, 45, 67}

#### 5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.

###### Dictionary is colletion of items identified using {key:value} pair with curly braces '{}'.
###### Dictionary are unordered and mutable can be accessed based on keys but not using index unlike list

#### 6.  Can we create a nested dictionary? If so, please give an example by creating a simple one-level
#### nested dictionary.

###### Yes we can create a nested dictionary

In [46]:
d1={'Roll_no':[11,13],'Name':['Abhishek','Nitesh'],'Subject':{'Abhishek':'Mathematics','Nitesh':'Biology'}}

In [47]:
d1

{'Roll_no': [11, 13],
 'Name': ['Abhishek', 'Nitesh'],
 'Subject': {'Abhishek': 'Mathematics', 'Nitesh': 'Biology'}}

In [48]:
d1['Subject']['Abhishek']

'Mathematics'

In [49]:
### Above Eg. main dictionary d1 and within that subject is sub-dictionary with subject for either Abhishek/Nitesh

#### 7. Using setdefault() method, create key named topics in the given dictionary and also add the value of
#### the key as this list ['Python', 'Machine Learningâ€™, 'Deep Learning']

In [53]:
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [54]:
dict1

{'language': 'Python', 'course': 'Data Science Masters'}

In [56]:
dict1.setdefault('topics',['Python', 'Machine_Learning', 'Deep_Learning'])

['Python', 'Machine_Learning', 'Deep_Learning']

In [57]:
dict1

{'language': 'Python',
 'course': 'Data Science Masters',
 'topics': ['Python', 'Machine_Learning', 'Deep_Learning']}

#### 8. What are the three view objects in dictionaries? Use the three in-built methods in python to display
#### these three view objects for the given dictionary.
##### dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

###### Three view objects are 
###### a. keys() b.values()  c.  items()

In [60]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [61]:
dict1

{'Sport': 'Cricket',
 'Teams': ['India',
  'Australia',
  'England',
  'South Africa',
  'Sri Lanka',
  'New Zealand']}

In [65]:
dict1.keys() ### Will fetch all keys in dictionary

dict_keys(['Sport', 'Teams'])

In [66]:
dict1.values() ### will fetch all values in dictionary

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [67]:
dict1.items() ### will fetch all items (keys and values) from dictionary

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])